docker
!docker/grass_addons_list.csv
!docker/actinia-core-ubuntu/snap
!docker/actinia-core-ubuntu/actinia.cfg
!docker/actinia-core-ubuntu/start.sh
!docker/actinia-core-ubuntu/start-dev.sh
!docker/actinia-core-dev/actinia.cfg
!docker/actinia-core-prod/actinia.cfg
!docker/actinia-core-alpine/actinia.cfg
!docker/actinia-core-tests/actinia-test.cfg
!docker/actinia-core-alpine/start.sh
!docker/actinia-core-alpine/start-dev.sh
.github
.travis
.travis.yml
.eggs
.pytest_cache
build
dist
