[flake8]

# E402 module level import not at top of file
# E501 line too long (104 > 88 characters)
# F401 '.health_check.health_check' imported but unused
# F821 undefined name 'QFile'
# W605 invalid escape sequence '\<'

max-line-length = 88
exclude =
    .git,
    __pycache__,
    .env,
    .venv,
    env,
    venv,
    ENV,
    env.bak,
    venv.bak,
    ctypes,
    pydispatch,
    testsuite,

per-file-ignores =
    ./actinia_core/resources/common/api_logger.py: F401
    ./actinia_core/resources/common/app.py: E402, E501
    ./actinia_core/testsuite.py: F401
    ./actinia_core/resources/ephemeral_processing.py: F401, W605
    ./actinia_core/resources/common/storage_interface_gcs.py: F401
    ./actinia_core/main.py: F401
    ./actinia_core/resources/common/process_queue.py: F401
    ./actinia_core/resources/common/process_chain.py: W605
    ./actinia_core/resources/common/list_grass_modules.py: F821
    ./actinia_core/resources/common/aws_sentinel_interface.py: E501

# ./actinia_core/resources/common/list_grass_modules.py: F821: undefined names after missing import PyQt4 (not used file?)
