# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/site/*
cover/*
MANIFEST

# docker
dev
docker/actinia-core-data
docker/redis_data/dump.rdb
docker/redis_queue_data/dump.rdb

# do not ignore docker config files
!docker/actinia-core-alpine/actinia.cfg
!docker/actinia-core-dev/actinia.cfg
!docker/actinia-core-dev/endpoints.csv
!docker/actinia-core-tests/actinia-test.cfg
!docker/actinia-core-tests/actinia-test-noauth.cfg
