# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_build/*
cover/*
MANIFEST

# docker
dev
docker/redis_data/dump.rdb
!docker/actinia-core/actinia.cfg
!docker/actinia-core-latest/actinia.cfg
!docker/actinia-core-dev/actinia.cfg
!docker/actinia-core-prod/actinia.cfg
!docker/actinia-core-alpine/actinia-test.cfg
!docker/actinia-core-alpine/actinia.cfg
docker/build
docker/actinia-core-data/grassdb
docker/actinia-core-data/resources
docker/actinia-core-data/userdata
docker/actinia-core-data/workspace
docker/actinia-core/snap/esa-snap_all_unix_6_0.sh
