---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
                .*\.ref$|
                .*\.svg$|
                build/|
                dist/|
                src/actinia_core.egg-info/
          )
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
                .*\.ref$|
                .*\.svg$|
                build/|
                dist/|
                src/actinia_core.egg-info/
          )
  - repo: https://github.com/mundialis/github-workflows
    rev: 1.4.2
    hooks:
    - id: linting

# still deactivated, needs major code cleanup:
#  - repo: https://github.com/igorshubovych/markdownlint-cli
#    rev: v0.33.0
#    hooks:
#      - id: markdownlint
#  - repo: https://github.com/adrienverge/yamllint.git
#    rev: v1.29.0
#    hooks:
#      - id: yamllint
#        args: [--format, parsable, --strict, -d,
#               '{extends: default, rules: {truthy: disable,
#                line-length: {max: 120,
#                allow-non-breakable-words: true}}}']
