# Python3 requirements for actinia core and GRASS GIS stable

boto3==1.6.6
docutils==0.14
Flask==0.12.3
Flask-HTTPAuth==3.2.3
Flask-RESTful==0.3.6
flask-restful-swagger-2
Flask-Cors==3.0.3
fluent-logger==0.9.2
pygdal==2.2.3.3
geopandas
google-cloud==0.32.0
google-cloud-bigquery==0.28.0
google-cloud-storage==1.6.0
gunicorn==19.9.0
numpy==1.15.4
pandas
passlib==1.7.1
ply==3.11
pyproj==1.9.6
python-magic==0.4.15
scikit-learn
Shapely
Sphinx==1.7.1
redis==2.10.6
requests>=2.20.0
rq==0.10.0
## omitting very large packages
#http://download.pytorch.org/whl/cpu/torch-0.4.1-cp37-cp37m-linux_x86_64.whl
#torchvision
uWSGI==2.0.17
wheel

# currently break things - TODO - needed?
# pkg-resources==0.0.0
# pycurl==7.43.0.1
