# The requirements for GRASS GIS Python2 environment
numpy==1.14.2
pkg-resources==0.0.0
ply==3.11
http://download.pytorch.org/whl/cpu/torch-0.3.1-cp27-cp27mu-linux_x86_64.whl
torchvision
scikit-learn
