# Python3 requirements for actinia core and GRASS GIS latest

boto3>=1.6.6
colorlog>=4.2.1
docutils>=0.14
Flask>=0.12.3
Flask-HTTPAuth>=3.2.3
Flask-RESTful>=0.3.6
flask-restful-swagger-2
Flask-Cors>=3.0.3
fluent-logger>=0.9.4
geopandas==0.8.1
google-cloud
google-cloud-bigquery
google-cloud-storage
gunicorn>=19.9.0
matplotlib
numpy>=1.15.4
pandas
passlib>=1.7.1
ply>=3.11
psutil>=5.7.0
pyproj==2.6.1
python-json-logger
python-magic>=0.4.15
scikit-learn
Shapely
six>=1.13.0
Sphinx>=1.7.1
redis>=2.10.6
requests>=2.20.0
rq>=0.10.0
pystac==0.5.6
rasterio==1.2.10
## omitting very large packages
# torch
# torchvision
uWSGI>=2.0.17
wheel

actinia-api@https://github.com/mundialis/actinia-api/releases/download/2.0.0/actinia_api-2.0.0-py3-none-any.whl

# currently break things - TODO - needed?
# pkg-resources==0.0.0
# pycurl==7.43.0.1
