name: Linting and code quality check

on:
  push:
    branches:
      - main
      - develop
  pull_request:

jobs:
  lint:
    uses: mundialis/github-workflows/.github/workflows/linting.yml@1.6.0
    with:
      # set pylint-version to empty string to skip the pylint workflow
      pylint-version: ''
      BASH_SEVERITY: 'warning'
