name: actinia tests

on:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]

jobs:

  # Unittests for GRASS 8.3
  alpine-unittests-G83:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Replace run only unittest command
      run: |
        sed -i "1s+.*+FROM mundialis/actinia-core:grass8.3 AS actinia_test+" docker/actinia-core-tests/Dockerfile
        sed -i "s+# RUN make test+RUN make unittest+g" docker/actinia-core-tests/Dockerfile
    - name: Unittests of actinia
      id: docker_build
      uses: docker/build-push-action@v6
      with:
        push: false
        tags: actinia-core-tests:alpine
        context: .
        file: docker/actinia-core-tests/Dockerfile
        no-cache: true
        # pull: true

  # Unittests for GRASS 8.4
  alpine-unittests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Replace run only unittest command
      run: |
        sed -i "s+# RUN make test+RUN make unittest+g" docker/actinia-core-tests/Dockerfile
    - name: Unittests of actinia
      id: docker_build
      uses: docker/build-push-action@v6
      with:
        push: false
        tags: actinia-core-tests:alpine
        context: .
        file: docker/actinia-core-tests/Dockerfile
        no-cache: true
        # pull: true

  # Integration tests for GRASS 8.3
  alpine-integration-tests-G83:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Replace run integration test command
      run: |
        sed -i "1s+.*+FROM mundialis/actinia-core:grass8.3 AS actinia_test+" docker/actinia-core-tests/Dockerfile
        sed -i "s+# RUN make test+RUN make integrationtest+g" docker/actinia-core-tests/Dockerfile
    - name: Integration tests of actinia
      id: docker_build
      uses: docker/build-push-action@v6
      with:
        push: false
        tags: actinia-core-tests:alpine
        context: .
        file: docker/actinia-core-tests/Dockerfile
        no-cache: true
        # pull: true

  # Integration tests for GRASS 8.4
  alpine-integration-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Replace run integration test command
      run: |
        sed -i "s+# RUN make test+RUN make integrationtest+g" docker/actinia-core-tests/Dockerfile
    - name: Integration tests of actinia
      id: docker_build
      uses: docker/build-push-action@v6
      with:
        push: false
        tags: actinia-core-tests:alpine
        context: .
        file: docker/actinia-core-tests/Dockerfile
        no-cache: true
        # pull: true
