name: actinia tests

on:
- push
- pull_request

jobs:

  alpine-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      # with:
      #   path: "."
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Build actinia
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        push: false
        tags: actinia-core-tests:0.99.24-alpine
        context: .
        file: docker/actinia-core-tests/Dockerfile
        no-cache: true
        # pull: true
